@font-face {
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
}
.wrap.is-shortpixel-settings-page.simple .is-advanced {
  display: none;
}
.wrap.is-shortpixel-settings-page header {
  background: #fff;
  text-align: center;
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
}
.wrap.is-shortpixel-settings-page header h1 {
  line-height: 50px;
}
.wrap.is-shortpixel-settings-page header img {
  vertical-align: bottom;
  margin-right: 8px;
}
.wrap.is-shortpixel-settings-page button {
  color: #fff;
  background: #1ABDCA;
  padding: 8px 6px;
  border: 0;
  margin: 4px;
  font-family: "Roboto";
  font-weight: 700;
  border-radius: 6px;
}
.wrap.is-shortpixel-settings-page button i.switch {
  width: 18px;
  height: 12px;
}
.wrap.is-shortpixel-settings-page button i.notifications {
  width: 14px;
  height: 14px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(251deg) brightness(108%) contrast(108%);
}

.shortpixel-settings {
  width: 95%;
  display: flex;
  background: #fff;
  border-radius: 16px;
  margin: 0 auto;
}
.shortpixel-settings menu {
  width: 25%;
  max-width: 200px;
}
.shortpixel-settings menu ul {
  list-style: none;
}
.shortpixel-settings menu ul li {
  margin: 4px 0;
  text-align: left;
}
.shortpixel-settings menu ul li a {
  padding: 6px 4px;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
.shortpixel-settings menu ul li a i {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  filter: none;
}
.shortpixel-settings menu ul li a.active {
  background: #0f6a7d;
  color: #fff;
}
.shortpixel-settings menu ul li a.active i {
  filter: brightness(0) saturate(100%) invert(100%) sepia(92%) saturate(270%) hue-rotate(177deg) brightness(122%) contrast(100%);
}
.shortpixel-settings section.wrapper {
  width: 65%;
  margin: 25px 0 25px 5%;
}
.shortpixel-settings section.wrapper .setting-tab {
  color: #333;
  z-index: 2;
  display: none;
}
.shortpixel-settings section.wrapper .setting-tab.active {
  position: relative;
  display: block;
}
.shortpixel-settings section.wrapper .setting-tab settinglist h2 {
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 700;
  outline: 0;
  text-decoration: none;
  color: #0f6a7d;
}
.shortpixel-settings section.wrapper .setting-tab settinglist h3 {
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 700;
}
.shortpixel-settings settinglist {
  display: block;
}

.setting-tab .shortpixel-compression-options label.lossy {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 1px solid;
}
.setting-tab .shortpixel-compression-options label:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.wrap.is-shortpixel-settings-page {
  /* TABS CONTROLS */
  /* article.sp-tabs {
      position: relative;
      display: block;
      width: 100%;
      margin: 2em auto;

  		section {
  		    position: absolute;
  		    display: block;
  		    top: 1.8em;
  		    left: 0;
  		    width: 100%;
  		    max-width: 100%;
  		    box-sizing: border-box;
  		    padding: 10px 20px;
  		    z-index: 0;
  				&.sel-tab {
  				    position: relative;
  				    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
  						.wp-shortpixel-tab-content {
  						    visibility: visible !important;
  						}
  				}
  				.wp-shortpixel-tab-content {
  				    visibility: hidden;
  				}
  				&:first-child {
  				    z-index: 1;
  				}
  		} // section
  		section h2 a:focus, article.sp-tabs section#tab-resources a:focus {
  			 box-shadow: none;
  			 outline: none;
  	 }
  	 section.sel-tab, article.sp-tabs section.sel-tab h2 {
   	    color: #333;
   	    background-color: #fff;
   	    z-index: 2;
   	}
  	h2:before {
  	    content: none;
  	}
  } */
  /* .submit {
  	.button {
  		min-height: 44px;
  	}
  } */
  /* In-view notice ( not on top, between the options ) - styled after WP notice */
}
.wrap.is-shortpixel-settings-page a {
  color: #0f6a7d;
}
.wrap.is-shortpixel-settings-page p {
  font-size: 14px;
}
.wrap.is-shortpixel-settings-page .new {
  color: #ff0000;
  font-weight: 500;
  margin-left: 2px;
}
.wrap.is-shortpixel-settings-page .clearfix {
  zoom: 1;
}
.wrap.is-shortpixel-settings-page .clearfix:before, .wrap.is-shortpixel-settings-page .clearfix:after {
  content: " ";
  display: table;
}
.wrap.is-shortpixel-settings-page .clearfix:after {
  clear: both;
}
.wrap.is-shortpixel-settings-page .form-table th {
  width: 220px;
}
.wrap.is-shortpixel-settings-page .form-table td {
  position: relative;
}
.wrap.is-shortpixel-settings-page .shortpixel-key-valid {
  margin-top: 16px;
  display: inline-block;
}
.wrap.is-shortpixel-settings-page .sp-column-actions-template + .sp-column-info {
  display: none;
}
.wrap.is-shortpixel-settings-page .button, .wrap.is-shortpixel-settings-page button:focus {
  color: #0f6a7d;
  border-color: #0f6a7d;
}
.wrap.is-shortpixel-settings-page .button-primary, .wrap.is-shortpixel-settings-page .button-primary:focus {
  background-color: #0f6a7d;
  border-color: #0f6a7d;
  color: #fff;
}
.wrap.is-shortpixel-settings-page .button-primary:hover, .wrap.is-shortpixel-settings-page .button-primary:focus:hover {
  background-color: #1cbecb;
  border-color: #0f6a7d;
}
.wrap.is-shortpixel-settings-page .top-menu {
  font-size: 18px;
  display: flex;
  width: 100%;
  min-height: 50px;
  align-items: center;
  margin: 15px 0;
  position: relative;
}
@media (max-width: 1200px) {
  .wrap.is-shortpixel-settings-page .top-menu {
    margin-bottom: 50px;
  }
}
.wrap.is-shortpixel-settings-page .top-menu .links {
  padding-right: 195px;
  flex: 12 4 auto;
}
.wrap.is-shortpixel-settings-page .top-menu .links a {
  font-size: 18px;
  margin-right: 8px;
  white-space: nowrap;
  line-height: 26px;
}
.wrap.is-shortpixel-settings-page .top-menu .quota-remaining {
  font-size: 13px;
}
.wrap.is-shortpixel-settings-page .top-menu .spio-status-box {
  text-align: center;
  position: absolute;
  top: -49px;
  right: 0;
  padding: 5px 10px;
  background: white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.wrap.is-shortpixel-settings-page .top-menu .pie-wrapper {
  flex: 4 2 auto;
  min-width: 100px;
  display: inline-block;
}
.wrap.is-shortpixel-settings-page .top-menu div.sp-bulk-summary {
  z-index: 10;
}
.wrap.is-shortpixel-settings-page .top-menu div.sp-bulk-summary .opt-circle-average {
  width: 100px;
  height: 100px;
}
.wrap.is-shortpixel-settings-page .top-menu div.sp-bulk-summary .opt-circle-average .trail {
  stroke: #ddd;
}
.wrap.is-shortpixel-settings-page .top-menu div.sp-bulk-summary .opt-circle-average .path {
  stroke: #1cbecb;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}
.wrap.is-shortpixel-settings-page .top-menu div.sp-bulk-summary .opt-circle-average .text {
  fill: #1FBEC9;
  font-size: 28px;
  font-weight: 700;
  dominant-baseline: middle;
  text-anchor: middle;
}
.wrap.is-shortpixel-settings-page .top-menu div.sp-bulk-summary span {
  margin: 0;
  font-size: 12px;
  padding: 4px 8px;
  font-weight: 700;
  border-radius: 3px;
  white-space: nowrap;
  color: #0f6a7d;
}
@media (max-width: 1500px) {
  .wrap.is-shortpixel-settings-page .top-menu div.sp-bulk-summary .opt-circle-average {
    width: 100px;
    height: 100px;
  }
}
.wrap.is-shortpixel-settings-page .wp-shortpixel-tab-content {
  transition: all 1000ms linear;
}
.wrap.is-shortpixel-settings-page .red {
  color: #ff0000;
}
.wrap.is-shortpixel-settings-page .option {
  padding: 8px;
  display: inline-block;
}
.wrap.is-shortpixel-settings-page .option p {
  margin: 14px 0;
}
.wrap.is-shortpixel-settings-page .shortpixel-help-link span.dashicons {
  text-decoration: none;
  margin-top: -1px;
}
.wrap.is-shortpixel-settings-page article.sp-tabs section p.settings-info {
  padding-top: 0px;
  color: #818181;
  font-size: 13px !important;
}
.wrap.is-shortpixel-settings-page article.sp-tabs section p.settings-info.shortpixel-settings-error {
  color: #c32525;
}
.wrap.is-shortpixel-settings-page article.sp-tabs section .wp-shortpixel-tab-content {
  opacity: 0;
}
.wrap.is-shortpixel-settings-page article.sp-tabs section.sel-tab .wp-shortpixel-tab-content {
  opacity: 1;
}
.wrap.is-shortpixel-settings-page article.sp-tabs section .option-content {
  display: inline-block;
}
.wrap.is-shortpixel-settings-page article.sp-tabs section .suboption {
  margin-left: 20px;
}
.wrap.is-shortpixel-settings-page article.sp-tabs section .toggleTarget {
  display: none;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: height 350ms ease-in-out, opacity 750ms ease-in-out;
}
.wrap.is-shortpixel-settings-page article.sp-tabs section .modalTarget {
  display: none;
}
.wrap.is-shortpixel-settings-page article.sp-tabs section .toggleTarget.is-visible {
  display: block;
  opacity: 1;
  height: auto;
}
.wrap.is-shortpixel-settings-page article.sp-tabs section h2 {
  position: absolute;
  font-size: 1.3em;
  font-weight: normal;
  width: 180px;
  height: 1.8em;
  top: -1.8em;
  left: 10px;
  padding: 0;
  margin: 0;
  color: #999;
  background-color: #ddd;
}
@media (max-width: 991px) {
  .wrap.is-shortpixel-settings-page article.sp-tabs section h2 {
    width: 140px;
  }
}
.wrap.is-shortpixel-settings-page article.sp-tabs section h2 a {
  display: block;
  width: 100%;
  line-height: 1.8em;
  text-align: center;
  text-decoration: none;
  color: #23282d;
  outline: 0 none;
}
.wrap.is-shortpixel-settings-page article.sp-tabs section.sel-tab h2 {
  color: #333;
  background-color: #fff;
  z-index: 2;
}
.wrap.is-shortpixel-settings-page article.sp-tabs section:nth-of-type(2) h2 {
  left: 192px;
}
@media (max-width: 991px) {
  .wrap.is-shortpixel-settings-page article.sp-tabs section:nth-of-type(2) h2 {
    left: 152px;
  }
}
.wrap.is-shortpixel-settings-page article.sp-tabs section:nth-of-type(3) h2 {
  left: 374px;
}
@media (max-width: 991px) {
  .wrap.is-shortpixel-settings-page article.sp-tabs section:nth-of-type(3) h2 {
    left: 294px;
  }
}
.wrap.is-shortpixel-settings-page article.sp-tabs section:nth-of-type(4) h2 {
  left: 556px;
}
@media (max-width: 991px) {
  .wrap.is-shortpixel-settings-page article.sp-tabs section:nth-of-type(4) h2 {
    left: 436px;
  }
}
.wrap.is-shortpixel-settings-page article.sp-tabs section:nth-of-type(5) h2 {
  left: 738px;
}
@media (max-width: 991px) {
  .wrap.is-shortpixel-settings-page article.sp-tabs section:nth-of-type(5) h2 {
    left: 578px;
  }
}
.wrap.is-shortpixel-settings-page article.sp-tabs section:nth-of-type(6) h2 {
  left: 920px;
}
.wrap.is-shortpixel-settings-page section#tab-debug h2 {
  left: 738px;
}
.wrap.is-shortpixel-settings-page section#tab-debug .flex {
  display: flex;
}
.wrap.is-shortpixel-settings-page section#tab-debug .env .flex, .wrap.is-shortpixel-settings-page section#tab-debug .fs .flex {
  flex-wrap: wrap;
  max-width: 450px;
}
.wrap.is-shortpixel-settings-page section#tab-debug .env .flex span, .wrap.is-shortpixel-settings-page section#tab-debug .fs .flex span {
  width: 45%;
  padding: 4px;
}
.wrap.is-shortpixel-settings-page section#tab-debug .table {
  display: table;
}
.wrap.is-shortpixel-settings-page section#tab-debug .table > div {
  display: table-row;
}
.wrap.is-shortpixel-settings-page section#tab-debug .table > div > span {
  display: table-cell;
}
.wrap.is-shortpixel-settings-page section#tab-debug .table > div.head > span {
  font-weight: 700;
}
.wrap.is-shortpixel-settings-page section#tab-debug .table.notices > div > span {
  width: 18%;
  text-align: center;
}
.wrap.is-shortpixel-settings-page section.banner {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  margin-top: 35px;
  margin-bottom: 45px;
  position: relative;
  opacity: 0;
}
.wrap.is-shortpixel-settings-page section.banner span {
  text-align: center;
}
.wrap.is-shortpixel-settings-page section.banner .image {
  flex: 1;
  text-align: right;
}
.wrap.is-shortpixel-settings-page section.banner .image a {
  display: inline-block;
  outline: none;
  border: 0;
  text-decoration: none;
}
.wrap.is-shortpixel-settings-page section.banner .image a:focus {
  box-shadow: none;
}
.wrap.is-shortpixel-settings-page section.banner .image img {
  width: 180px;
}
.wrap.is-shortpixel-settings-page section.banner .line {
  flex: 2;
}
.wrap.is-shortpixel-settings-page section.banner .line h3 {
  color: #00d0e5;
  font-size: 22px;
}
.wrap.is-shortpixel-settings-page section.banner .button-wrap {
  flex: 1;
  text-align: left;
}
.wrap.is-shortpixel-settings-page section.banner .button-wrap .button {
  background: #ff0000;
  padding: 4px 12px;
  font-weight: 700;
  font-size: 20px;
  margin: 12px;
  color: #fff;
  text-transform: uppercase;
}
.wrap.is-shortpixel-settings-page .view-notice, .wrap.is-shortpixel-settings-page .compression-notice {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  border: 4px solid #fff;
  padding: 1px 12px;
}
.wrap.is-shortpixel-settings-page .view-notice p, .wrap.is-shortpixel-settings-page .compression-notice p {
  margin: 1em 0 !important;
}
.wrap.is-shortpixel-settings-page .view-notice h4, .wrap.is-shortpixel-settings-page .compression-notice h4 {
  margin: 0;
  font-size: 16px;
}
.wrap.is-shortpixel-settings-page .view-notice.warning, .wrap.is-shortpixel-settings-page .compression-notice.warning {
  border-left-color: #ffb900;
}
.wrap.is-shortpixel-settings-page .view-notice-row {
  display: none;
}
.wrap.is-shortpixel-settings-page #tab-settings .shortpixel-compression strong {
  line-height: 22px;
}
.wrap.is-shortpixel-settings-page #tab-settings .shortpixel-compression .shortpixel-compression-options {
  display: inline-block;
}
.wrap.is-shortpixel-settings-page #tab-settings .shortpixel-compression label {
  width: 158px;
  margin: 0 -2px;
  background-color: #d1f5fd;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
}
.wrap.is-shortpixel-settings-page #tab-settings .shortpixel-compression label span {
  text-align: center;
  font-size: 16px;
  padding: 8px 0px;
  display: block;
}
.wrap.is-shortpixel-settings-page #tab-settings .shortpixel-compression label input {
  display: none;
}
.wrap.is-shortpixel-settings-page #tab-settings .shortpixel-compression label input:checked + span {
  background-color: #0f6a7d;
  color: #FFF;
}
.wrap.is-shortpixel-settings-page #tab-settings .presentation-wrap {
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 600px;
}
.wrap.is-shortpixel-settings-page #tab-settings .presentation-wrap img {
  margin: auto;
}
@media (max-width: 1280px) {
  .wrap.is-shortpixel-settings-page #tab-settings .presentation-wrap {
    width: 460px;
  }
}
@media (max-width: 1140px) {
  .wrap.is-shortpixel-settings-page #tab-settings .presentation-wrap {
    width: 320px;
  }
}
.wrap.is-shortpixel-settings-page #tab-settings .spai-resize-frame {
  position: absolute;
  border: 2px dashed #fd1d1d;
}
.wrap.is-shortpixel-settings-page #tab-settings .spai-resize-frame:after {
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  bottom: -15px;
  right: 0;
  color: red;
}
.wrap.is-shortpixel-settings-page #tab-settings .resize-options-wrap {
  margin: 10px 20px 0 20px;
  float: left;
}
.wrap.is-shortpixel-settings-page #tab-settings .resize-type-wrap label {
  display: inline-block;
  padding: 15px 0 0 0;
}
.wrap.is-shortpixel-settings-page #tab-settings input[name=resizeWidth], .wrap.is-shortpixel-settings-page #tab-settings input[name=resizeHeight] {
  width: 80px;
}

#tab-overview .wrapper {
  display: flex;
}
#tab-overview .wrapper .panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}
#tab-overview .wrapper.top-row {
  display: flex;
}
#tab-overview .wrapper.top-row .first-panel {
  display: flex;
  padding: 40px 20px;
  width: 70%;
  margin-right: 20px;
}
#tab-overview .wrapper.top-row .first-panel i {
  margin: 0 20px;
}
#tab-overview .wrapper.top-row .first-panel i.ok {
  width: 70px;
  height: 70px;
}
#tab-overview .wrapper.top-row .second-panel {
  display: flex;
  flex-direction: column;
  width: 30%;
}
#tab-overview .wrapper.middle-row {
  margin: 20px 0;
  height: 200px;
}
#tab-overview .wrapper.middle-row > div {
  width: 33.333%;
  flex-direction: column;
  border-right: 1px solid #92D5E3;
}
#tab-overview .wrapper.middle-row > div:last-child {
  border: 0;
}
#tab-overview .wrapper.middle-row > div > i:first-child {
  width: 50px;
  height: 50px;
}
#tab-overview .wrapper.middle-row > div span {
  line-height: 14px;
}
#tab-overview .wrapper.middle-row > div span i {
  float: left;
  width: 12px;
  height: 12px;
  margin-right: 4px;
}
#tab-overview .wrapper.middle-row > div button {
  height: 40px;
  padding: 10px 12px;
}
#tab-overview .wrapper.middle-row > div button i.arrow-right {
  width: 10px;
  height: 10px;
  margin-left: 4px;
  margin-right: 4px;
}
#tab-overview .wrapper div {
  background: #F4FBFC;
  border-radius: 6px;
}
#tab-overview settinglist {
  background: #F4FBFC;
  border-radius: 6px;
}
#tab-overview settinglist setting {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
}
#tab-overview settinglist setting name, #tab-overview settinglist setting content {
  padding: 12px 0 0 0;
}
#tab-overview settinglist setting input {
  border: 1px solid #1ABDCA;
  background: url("../images/icon/key.svg") no-repeat 1% center #fff;
  padding-left: 26px;
  height: 36px;
}
#tab-overview settinglist setting button {
  padding: 4px 16px;
  color: #fff;
  background: #1ABDCA;
  box-sizing: border-box;
  margin: 0;
}
#tab-overview settinglist setting button i {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

/* Specific styles for advanced settings tab */
#shortpixel-settings-tabs #tab-adv-settings .excludeSizeOption {
  margin-right: 20px;
  white-space: nowrap;
  line-height: 24px;
  float: left;
  clear: both;
}
#shortpixel-settings-tabs #tab-adv-settings .excludeSizeOption input {
  margin-right: 8px;
}
#shortpixel-settings-tabs #tab-adv-settings .deliverWebpTypes, #shortpixel-settings-tabs #tab-adv-settings .deliverWebpAlteringTypes {
  margin: 16px 0 16px 16px;
  padding: 2px;
}
#shortpixel-settings-tabs #tab-adv-settings .new-exclusion-button {
  float: left;
  margin-right: 8px;
}
#shortpixel-settings-tabs #tab-adv-settings ul.exclude-list {
  margin: 20px 0;
}
#shortpixel-settings-tabs #tab-adv-settings ul.exclude-list li {
  float: left;
  padding: 4px 12px;
  border: 1px solid #1caecb;
  background: #1caecb;
  border-radius: 8px;
  margin: 8px 8px 0 0;
  color: #fff;
  cursor: pointer;
}
#shortpixel-settings-tabs #tab-adv-settings ul.exclude-list li.no-exclusion-item {
  cursor: default;
}
#shortpixel-settings-tabs #tab-adv-settings ul.exclude-list li span {
  margin-left: 6px;
}
#shortpixel-settings-tabs #tab-adv-settings ul.exclude-list li.has-error {
  background: #ff0000;
  border-color: #ff0000;
}
#shortpixel-settings-tabs #tab-adv-settings ul.exclude-list li.is-regex {
  border-right: green;
  border-right-width: 10px;
  border-style: solid;
}
#shortpixel-settings-tabs #tab-adv-settings ul.exclude-list .not-visible {
  display: none;
}
#shortpixel-settings-tabs #tab-adv-settings .new-exclusion {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 1px #ccc;
  padding: 8px;
  margin: 8px 0;
  display: inline-block;
  background: #fff;
  position: relative;
}
#shortpixel-settings-tabs #tab-adv-settings .new-exclusion h3 {
  margin: 2px 0;
}
#shortpixel-settings-tabs #tab-adv-settings .new-exclusion.not-visible {
  display: none;
}
#shortpixel-settings-tabs #tab-adv-settings .new-exclusion div {
  margin: 8px 0;
  height: auto;
}
#shortpixel-settings-tabs #tab-adv-settings .new-exclusion div label {
  min-width: 110px;
  display: inline-block;
}
#shortpixel-settings-tabs #tab-adv-settings .new-exclusion div input, #shortpixel-settings-tabs #tab-adv-settings .new-exclusion div select {
  min-width: 250px;
}
#shortpixel-settings-tabs #tab-adv-settings .new-exclusion div input.small, #shortpixel-settings-tabs #tab-adv-settings .new-exclusion div select.small {
  width: 80px;
  min-width: 0;
}
#shortpixel-settings-tabs #tab-adv-settings .new-exclusion div.button-actions {
  margin-left: 114px;
}
#shortpixel-settings-tabs #tab-adv-settings .new-exclusion div button {
  min-width: 75px;
  padding: 8px 6px;
}
#shortpixel-settings-tabs #tab-adv-settings .new-exclusion div button[name=removeExclusion] {
  background: #ff0000;
  border-color: #ff0000;
  padding: 4px;
  position: absolute;
  top: 10px;
  right: 10px;
}
#shortpixel-settings-tabs #tab-adv-settings .new-exclusion .not-visible {
  visibility: hidden;
  height: 0;
  transition: 500ms height;
}
#shortpixel-settings-tabs #tab-adv-settings .new-exclusion .size-option > div {
  margin: 8px 0;
}
#shortpixel-settings-tabs #tab-adv-settings .new-exclusion .size-option div label {
  min-width: 110px;
}
#shortpixel-settings-tabs #tab-adv-settings .new-exclusion .thumbnail-option:not(.not-visible) {
  height: 150px;
  margin-left: 12px;
}
#shortpixel-settings-tabs #tab-adv-settings .new-exclusion .thumbnail-option:not(.not-visible):hover {
  color: #000;
}
#shortpixel-settings-tabs #tab-adv-settings .exclusion-save-reminder {
  margin: 10px 0;
  font-weight: 500;
}
#shortpixel-settings-tabs #tab-adv-settings .avifNoticeDisabled {
  padding: 12px 12px;
  line-height: 26px;
}
#shortpixel-settings-tabs #tab-adv-settings .avifNoticeDisabled > .spio-inline-help {
  display: inline;
  float: none;
}

/*
.cf_switch
{

  label {
    width: 100%;
  	margin: 0 -2px;
  	background-color: #e2faff;
  	display: inline-block;


    span
    {
      padding:8px 0px 8px 15px;
      display:block;
    }
    input {
      display: none;
    }
    input:checked + span
    {
      background-color:#0085ba;
      color:#F7F7F7;
    }
  }



}
*/
#tab-tools .button {
  min-height: 44px;
}
#tab-tools .option, #tab-tools setting {
  clear: both;
  display: flex;
  margin: 15px 0;
}
#tab-tools .option div.name, #tab-tools setting div.name {
  width: 220px;
  font-weight: 700;
  display: inline-block;
  flex: 0 0 auto;
  font-size: 14px;
}
#tab-tools .option div.field, #tab-tools .option content, #tab-tools setting div.field, #tab-tools setting content {
  display: inline-block;
  vertical-align: middle;
}
#tab-tools .option div.field .button, #tab-tools .option content .button, #tab-tools setting div.field .button, #tab-tools setting content .button {
  min-width: 200px;
  font-weight: 700;
  text-align: center;
  padding: 6px 8px;
}
#tab-tools .option div.field .button.danger, #tab-tools .option content .button.danger, #tab-tools setting div.field .button.danger, #tab-tools setting content .button.danger {
  color: #fff;
  background: #ff0000;
  border: 1px solid #ff0000;
}
#tab-tools .option div.field.queue-warning, #tab-tools .option content.queue-warning, #tab-tools setting div.field.queue-warning, #tab-tools setting content.queue-warning {
  border: 1px solid #ff0000;
  font-weight: 700;
  padding: 6px 8px;
}
#tab-tools .option-row {
  margin: 15px 0;
  display: block;
}
#tab-tools .danger-zone h3 {
  margin-left: 15px;
  text-transform: uppercase;
  font-weight: 700;
}
#tab-tools .danger-zone > p {
  margin-left: 15px;
}

i.documentation {
  font-size: 1.8em;
  color: #1caecb;
  cursor: pointer;
}

div.spio-modal-shade {
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top - zindex wars  */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

div.spio-modal {
  background-color: #fefefe;
  /*margin: 8% auto;  15% from the top and centered */
  background-image: url("../img/spinner2.gif");
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 16px 16px;
  border: 1px solid #888;
  width: 40%;
  /* Could be more or less, depending on screen size */
  max-width: 100%;
  min-width: 300px;
  /* Could be more or less, depending on screen size */
  z-index: 100;
  /* Proper z-index */
  position: fixed;
  top: 10%;
  left: 30%;
  height: 60%;
  max-height: 90%;
  overflow-y: auto;
}
div.spio-modal iframe {
  width: 100%;
  height: 500px;
}
div.spio-modal .spio-close-help-button {
  position: absolute;
  top: 5px;
  right: 0;
  margin-top: 0px;
  background: transparent;
  border: none;
  font-size: 22px;
  line-height: 10px;
  cursor: pointer;
}

div.spio-modal-title {
  font-size: 22px;
}

.spio-hide {
  display: none;
}

.shortpixel-icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 25px;
  vertical-align: middle;
  margin-right: 4px;
}

.shortpixel-icon.cdn {
  background-image: url("../images/icon/cdn.svg");
}

.shortpixel-icon.dashboard {
  background-image: url("../images/icon/dashboard.svg");
}

.shortpixel-icon.debug {
  background-image: url("../images/icon/debug.svg");
}

.shortpixel-icon.delivery {
  background-image: url("../images/icon/delivery.svg");
}

.shortpixel-icon.feedback {
  background-image: url("../images/icon/feedback.svg");
}

.shortpixel-icon.help {
  background-image: url("../images/icon/help.svg");
}

.shortpixel-icon.image_optimization {
  background-image: url("../images/icon/image_optimization.svg");
}

.shortpixel-icon.image_processing {
  background-image: url("../images/icon/image_processing.svg");
}

.shortpixel-icon.notifications {
  background-image: url("../images/icon/notifications.svg");
}

.shortpixel-icon.tools {
  background-image: url("../images/icon/tools.svg");
}

.shortpixel-icon.webp_avif {
  background-image: url("../images/icon/webp_avif.svg");
}

.shortpixel-icon.photo {
  background-image: url("../images/icon/photo.svg");
}

.shortpixel-icon.box-archive {
  background-image: url("../images/icon/box-archive.svg");
}

.shortpixel-icon.bulk {
  background-image: url("../images/icon/bulk.svg");
}

.shortpixel-icon.ok {
  background-image: url("../images/icon/ok.svg");
}

.shortpixel-icon.arrow-right {
  background-image: url("../images/icon/arrow-right.svg");
}

.shortpixel-icon.key {
  background-image: url("../images/icon/key.svg");
}

.shortpixel-icon.save {
  background-image: url("../images/icon/save.svg");
}

.shortpixel-icon.switch {
  background-image: url("../images/icon/switch.svg");
}

.shortpixel-illustration {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
}
.shortpixel-illustration.wizzard-done {
  background-image: url("../images/illustration/wizzard-done.svg");
  width: 70px;
  height: 70px;
}
.shortpixel-illustration.cocktail {
  background-image: url("../images/illustration/cocktail.svg");
  height: 104px;
}

setting {
  padding: 12px;
  background-color: #F4FBFC;
  margin: 10px 0;
  display: block;
}
setting.toggleTarget.is-visible {
  display: flex !important;
}
setting name {
  font-size: 14px;
  font-weight: 700;
  display: block;
  padding: 20px 10px 20px 0;
  box-sizing: border-box;
}
setting content {
  padding: 15px 10px;
  flex-basis: calc(100% - 250px);
  font-size: 14px;
}
setting info {
  display: block;
  padding-top: 0px;
  color: #818181;
  font-size: 13px;
  margin: 6px 0;
}
setting warning, setting error {
  border-left: 4px solid #ffb900;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding: 8px;
  margin: 4px 0 12px 230px;
  flex-basis: 100%;
  display: none;
  opacity: 0;
  transition: opacity 300ms;
}
setting warning h4, setting error h4 {
  margin: 0;
  font-size: 16px;
}
setting warning p, setting error p {
  color: #333;
  font-size: 13px;
}
setting warning.is-visible, setting error.is-visible {
  display: inline-block;
}
setting error {
  border-left-color: #ff0000;
}

settinggrid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
settinggrid > setting {
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2%;
}

/*# sourceMappingURL=shortpixel-settings.css.map */
