<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Helper">
			<directory prefix="test-" suffix=".php">./tests/Helper</directory>
		</testsuite>
		<testsuite name="model">
			<directory prefix="test-" suffix=".php">./tests/Model</directory>
		</testsuite>
		<testsuite name="External">
			<directory prefix="test-" suffix=".php">./tests/External</directory>
		</testsuite>
		<testsuite name="Controllers">
			<directory prefix="test-" suffix=".php">./tests/Controller</directory>
		</testsuite>
		<testsuite name="SPIO Main">
			<directory prefix="test-" suffix=".php">./tests/</directory>
			<exclude>./tests/Helper</exclude>
			<exclude>./tests/Model</exclude>
			<exclude>./tests/External</exclude>
			<exclude>./tests/Controller</exclude>
		</testsuite>
	</testsuites>
</phpunit>
