<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="fileSystem">
			<directory prefix="test-" suffix=".php">./tests/filesystem</directory>
		</testsuite>
		<testsuite name="imageModel">
			<directory prefix="test-" suffix=".php">./tests/Model/image</directory>
		</testsuite>
		<testsuite name="Controllers">
			<directory prefix="test-" suffix=".php">./tests/Controller</directory>
		</testsuite>
		<testsuite name="queue">
			<directory prefix="test-" suffix=".php">./tests/queue</directory>
		</testsuite>
		<testsuite name="model">
			<directory prefix="test-" suffix=".php">./tests/Model</directory>
		</testsuite>


	</testsuites>
</phpunit>
