/**** DASHBOARD ***/	
    section.panel.dashboard
    {
       max-width: 95%;
       margin: 20px auto;
       border-radius: 16px;

       h3.heading { border:0 ;
        }

       .bulk-wrapper
       {
            text-align: center;        
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column; 
            gap: 7px;

            
            button.start
            {
               color: $blue_dark;
               background-color: $blue_background;
               margin: 35px 0 70px;
               //background: linear-gradient(to left, $color-darkest, $color-dark);
               border-radius: 3px;

               padding: 12px 20px; 
               font-size: 16px;
             //  width: 250px;
             //  height: 65px;
							 font-weight: 700;
						//	 font-size: 16px;
							// letter-spacing: 0.3px;
							 border: 1px solid $blue_default;
              transition: all 0.1s ease-in-out;

              img {
                width: 30px;
              }

              &:hover {
                background: lighten($blue_dark, 10%);
                //transform: scale(1.02);
                color: #fff;
              }

               &:disabled {
                 color: #ccc;
                 background: #0e5358;
               }
               span
               {
								 margin-right: 8px;
                 // vertical-align: middle;
               }
            }

            .top-circle 
            {
               margin: 75px 0 35px 0;
               .the-circle 
               {
                  width: 222px;
                  height: 222px;
                  //border-radius: 50%; 
                  //background-color: $blue_background;
                  background-position: center;
                  background-repeat: no-repeat;
               }
            }
            .title-offer 
            {
               margin: 0;
            }
       } // bulk wrapper

			 /*.bulk-welcome
			 {

					background-color:  $color-light;
					border-radius: 16px 16px 0 0;
          h3 {
            font-size: 28px;
            font-weight: 700;
            text-align: center;
            padding-top: 16px;
            margin-top: 0;
          }

			 } */
      

			 .dashboard-text {
				 // margin: 0 auto;
					//width: 600px;
					/* @include breakpoint(0, 768px) {
						width: 90%;
					}
					p {
						line-height: 25px;
					} */
			 }

       .log-wrapper 
       {
        margin-top: 30px; 
        text-align: center; 

          label 
          {
             display: inline-block;
             text-align: center;
             border-bottom: 1px solid $blue_light;
             width: 200px;

             h3 {
              //text-align: center; 
              cursor: pointer;
              display: inline-block; 
              width: 130px;
              margin: 0 auto; 
              color: #fff; 
              padding: 6px;
              background: $blue_default; 
              border-radius: 3px 3px 0 0;
              font-size: 12px;
              .icon {
                 margin: 0 4px; 
                 filter: $filter-white; 
              }
           }
 
          }
       }

       .dashboard-log
       {
          display: table;
          width: 80%;
          border-top: 1px solid $blue_light;
       // max-width: 800px;
          margin: -1px auto 0 auto;
          h3 { display: table-caption; text-align: center;}
          > div {
            display: table-row;
            > span { display: table-cell; padding: 8px 8px 8px 0; }
          }
          .head
          {
            background: $blue_extralight;
            text-align: left;
            span {
              font-weight: 700;
              padding-left: 10px;
              font-size: 12px;
              &:nth-child(3) 
              {
                 padding-left: 0;
              }
            }
          }
          .data
          {
            span {
              text-align: left;
              border-bottom: 1px solid #EBF5FF;
              border-top: 1px solid #EBF5FF;
              &:first-child { border-left: 1px solid #EBF5FF; color: $blue_default; }
              &:nth-child(2)
              {
                 color: $blue_dark;
                 a { 
                  color: $blue_dark;

                 }
              }
              &:last-child {  border-right: 1px solid #EBF5FF; }

              font-size: 12px;
              padding-left: 10px;
              &.date {
                 color: #1FBEC9;
                 background: url('../img/bulk/checkmark.svg') left center no-repeat;
                 padding-left: 29px;
              }
            }
            &:nth-child(even)
            {
               background-color: $blue_background;
            }
          }
       }

       .dashboard-modal {
        position: absolute;
        padding: 0;
        left: 0;
        right: 0;
        //bottom: 0;
        //top: -100px;
        width: auto;
        box-sizing: border-box;
        box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 20px;
        border-radius: 6px;
    
        .close {
          position: absolute;
          right: 10px;
          top: 6px;
          color: white;
          font-size: 18px;
          font-weight: 700;
          cursor: pointer;
        }
    
        .title {
          display: none;
   /*       margin: 0;
          padding: 12px;
          background: #1FB5BF;
          background: linear-gradient(90deg, $color-darkest 0%, rgba(15, 106, 125, 1) 0%, $color-dark 100%);
          width: 100%;
          font-size: 16px;
          color: #ffffff;
          box-sizing: border-box;
          height: 40px; */
        }
    
        .content {
        //  padding: 12px;
          box-sizing: border-box;
          height: 90%;
    
          .table-wrapper {
            display: table;
            width: 100%; 
    
            .heading {
              font-weight: 700;
              background: $blue_default; 
              color: #fff; 
    
/*              >span {
                border-bottom: 1px solid #ccc;
                border-left: 1px solid #ddd;
              } */
            }
    
            >div {
              display: table-row;
              &:nth-child(even)
              {
                 background-color: $blue_background; 
              }
            }
    
            >div>span {
              display: table-cell;
              padding: 8px;
    
              &:first-child {
                white-space: nowrap;
              }
            }
          }
    
          a {
        //    text-decoration: none;
         //   margin-left: 8px;
            color: $blue_default;
          }
        }
    
        // content
      }

    } // Section
