@import 'elements/animation';



.shortpixel-media-modal-shade
{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0; 
    background: rgba(0,0,0, .50) ;
    display: flex; 
    z-index: 50; 
}

.shortpixel-media-modal
{
    display: flex; 
    align-items: center; 
    justify-content: center;
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    

    .modal-wrapper 
    {
        z-index: 60; 
        width: 80%; 
        height: 80vh; 
       // max-width: 700px; 
        background: #fff;
        .title {
            
            background: green; 
            height: 5%;
        }
        .image-wrapper
        {
            height: 85%;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            > div {
                flex: 1;
                position: relative; 

                &:first-child
                {
                    border-right: 1px solid #000;
                }
            }
            i {
                display: inline-block;
                height: 100%;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            .error-message {
                position: absolute;
                display: inline-block;
                background: #fff; 
                padding: 8px; 
                z-index: 20;
                left: 0;
                top: 45%;

            }
            
        }
        .action-bar {
           // height: 10%;
           // min-height: 400px;
            display: flex; 
            width: 100%;
            justify-content: center;
            align-items: center; 
            background: darken(#fff, 10%);

            .replace_type.wrapper 
            {
                 display: flex; 
                 flex-direction: column; 

                 label 
                 {
                     margin: 4px 0;
                 }
                 .howto {
                    display: none;
                 }
                 .button 
                 {
                     display: inline-block;
                 }
                 .bg_transparency 
                 {
                     display: none;
                 }
                 
            }
        }

        .load-preview-spinner
        {
            position: absolute; 
            left: 50%; 
            top: 50%; 

            .loadspinner {
                @include loadspinner;
           }
        }
    }
     


}

