
.shortpixel.notice
{
   //padding: 18px;
   min-height: 75px;
   padding: 8px;
   display: flex;
   align-items: center;

   img
   {
    // max-height: 50px;
   }
   .notice-dismiss
   {
     margin-top: 10px;
   }
   span
   {
     vertical-align: middle;
     &.icon {
       //float: left;
       margin: 0 25px 0 0;
      // display: inline-block;
     }
     &.content
     {
    //j   display: inline-block;
//max-width: 600px;
     }

   }
}

// compat list if.
.shortpixel.notice
{
  .sp-conflict-plugins {
      display: table;
      border-spacing: 10px;
      border-collapse: separate;
      li {
          display: table-row;
      }
      li > * {
          display: table-cell;
      }

  }

  .content button
  { // gets overwritten in NGG.
    background-color: #007cba;
  }

  li.sp-conflict-plugins-list {
      line-height: 28px;
      list-style: disc;
      margin-left: 80px;
  }
  li.sp-conflict-plugins-list a.button {
      margin-left: 10px;
  }
}
