.shortpixel-bulk-wrapper
{
  /** GENERAL STYLES **/
    h1 {
      font-size: 23px;
      font-weight: 400;
      line-height: 30px;
      margin: 30px 0;
    }

    h3.heading {
      margin: 15px 0 15px 0px;
      padding-left: 10px;
      font-size: 20px;
      font-weight: 400;
      line-height: 42px;
      border-bottom: 1px solid #ccc;
      position: relative;

      span
      {
          vertical-align: top;
          margin-right: 20px;
      }
    }
    i {
      font-style: normal;
    }




    p.description
    {
       font-size: 14px;
       max-width: 650px;
       margin-left: 10px;
       margin: 15px 0;
    }

    nav {
      margin: 45px auto;
      width: 80%;
			.button {
				margin-right: 8px;
				padding: 8px 16px;
				background: #F5F5F5;
				color: #1FBEC9;
				letter-spacing: 0.3px;
				font-weight: 700;
				font-size: 14px;
				.dashicons
				{
					 font-size: 26px;
					 height: 26px;
					 margin-right: 6px;
					 padding-top: 2px;
				}
			}
      .button-primary
      {
        margin-left: 15px;
        background: #1FBEC9;
        color: #fff;
        border: 1px solid #1FBEC9;
        border-radius: 3px;
        box-shadow: 0px 1px 1px rgba(171, 170, 170, 0.3);
      }

    }

    .hidden {
      display: none !important;
    }

		.bulk-modal
		{
			 position: absolute;
			 padding: 0;
			 left: 0;
			 right: 0;
			 bottom: 0;
			 top: 0;
			 width: auto;
			 box-sizing: border-box;
			 box-shadow: rgba(0,0,0,0.5) 4px 4px 20px;
					.close
					{
						 position: absolute;
						 right: 10px;
						 top: 10px;
						 color: white;
						 font-size: 26px;
						 cursor: pointer;
					}
			 .title
			 {
				  margin: 0;
					padding: 12px;
					background: #1FB5BF;
					width: 100%;
					font-size: 16px;
					color: #ffffff;
					box-sizing: border-box;
					height: 40px;


			 }
			 .content
			 {
				 padding: 12px;
				 box-sizing: border-box;
				 height: 90%;
				 .table-wrapper {
						display: table;
						.heading { font-weight: 700;
	 							> span { border-bottom: 1px solid #ccc; border-left: 1px solid #ddd; }
					 }
					 > div { display: table-row; }
					 > div > span {
						 	display: table-cell;
							padding: 4px 8px;
						}
				 }
			 }
		}


    .screen-wrapper
    {
        background: #fff;
        width: 90%;
        min-height: 80vh;
        position: relative;
      //  overflow: hidden;

        .shortpixel-bulk-loader
        {
        //   position: absolute;
           left: 0;
           right: 0;
           top: 0;
           bottom: 0;
           background: rgba(1,1,1,0.1);
           transition: opacity 1s linear;
           z-index: -1;
           opacity: 0;
           visibility:hidden;
           padding: 25px 0 15px 0;
           width: 60%;
           border-radius: 10px;
           margin: 0 auto;

           &[data-status="loading"]
           {
             z-index: 100;
             visibility: visible;
             opacity: 1;
           }

          .loader {
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 100%;
              height: 100%;
              justify-content: center;
              span h2 { color: #555; }
              img {
                  width: 60%;
               }

          }
        }
    }
     .panel
     {
        width: 100%;
        position: absolute;
        display: none;
        z-index: 0;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s linear;
        margin: 15px 0;
        p {
          margin-left: 15px;
        }

        &.active
        {
            visibility: visible;
            opacity: 1;
            z-index: 5;
            position: relative;
          //  box-shadow: 4px 4px 8px #116C7D;
        }
        .panel-container
        {
           z-index: 5;
          // padding: 10%;
          display: inline-block;
          width: 100%;

        }

        .error {
            h3 { margin-left: 12px; }
            p {
              margin-left: 12px;
              color: #ff0000;
              &.text { color : #000; }
            }
         }
        .errorbox {
          display: block;
          transition: 1s all;
        //  position: absolute;
          opacity: 0;
					display: none;
          right: 10px;
          top: 4px;
          padding: 8px;
          height: 100%;
          border: 1px solid #000;
					width: 80%;
					margin: 30px auto;
      //    z-index: -1;
          background: rgba(255,255,255,0.9);
					line-height: 22px;
					max-height: 300px;
					overflow-y: scroll;
					.fatal { color: #ff0000; }

        }

     }

     .processor-paused
     {
  //     position: absolute;
       display: none;
       top: 0;
    //   height: 50px;
       width: 90%;
       background: rgba(31, 190,201, 1);
       border: 1px solid #ccc;
       font-size: 26px;
       line-height: 26px;
       padding: 26px 0;
       text-align: center;
       z-index: 10;
       border-radius: 10px;
       cursor: pointer;
       transition: all 900ms;
       &:hover {
         background: darken(rgba(31, 190,201, 1), 5%);
       }
       .dashicons
       {
         margin-right: 6px;
         &::before
         {
            width: 26px;
            height: 26px;
            font-size: 26px;
          //
         }
         &:hover::before{ content: '\F522'}
       }
     }

/**** DASHBOARD ***/
    section.panel.dashboard
    {
       h3.heading { border:0 ;
        }


       .bulk-wrapper
       {
            background: url('../img/bulk/dashboard-background.svg') no-repeat;
            background-size: cover;
            background-position: left center;
            background-color: #116C7D;
            text-align: center;
            height: 150px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .dashboard-image {
            //  width: 100%;
            //  height: 150px;
              z-index: 1;
              position: absolute;
              left: 0; right: 0;

            }
            button
            {
               color: #ffffff;
               background: linear-gradient(to left, #136970, #1FB5BF);
               border-radius: 3px;
               width: 250px;
               height: 65px;
               font-size: 13px;
               line-height: 21px;
               transition: all 0.5s linear;
							 font-weight: 700;
							 font-size: 16px;
							 letter-spacing: 0.3px;
							 border: 1px solid #ccc;

               &:hover
               {
                //  background: linear-gradient(to left, #3b9ea5, #50d9e2);
									background:  #50d9e2;
                  font-weight: 600;
                  transition: all 1s linear;
								//	color: #000;
				//	transition: all 0.5s linear;
               }
               &:disabled {
                 color: #ccc;
                 background: #0e5358;
               }
               span
               {
                  vertical-align: middle;
               }
            }
       }

       .dashboard-log
       {
          display: table;
          width: 80%;
          margin: 0 auto;
          h3 { display: table-caption; text-align: center;}
          > div {
            display: table-row;
            > span { display: table-cell; padding: 8px 8px 8px 0; }
          }
          .head
          {
            span {
              font-weight: 700;
              padding-left: 15px;
            }
          }
          .data
          {
            span {
              border-bottom: 1px solid #EBF5FF;
              border-top: 1px solid #EBF5FF;
              &:first-child { border-left: 1px solid #EBF5FF; }
              &:last-child {  border-right: 1px solid #EBF5FF; }
              font-size: 15px;
              padding-left: 10px;
              &.date {
                 color: #1FBEC9;
                 background: url('../img/bulk/checkmark.svg') left center no-repeat;
                 padding-left: 29px;
              }
            }
						&.custom
						{

						}
          }
       }

    } // Section

    section.progressbar
    {
        margin: 30px 0;
        .flex
        {
          display: flex;
          flex-direction: row;
          width: 80%;
          justify-content: space-around;

          >div
          {
             display: flex;
             align-items: center;
             position: relative;
             flex-direction: column;
             flex-grow: 1;

          }
          >div.result .line
          {
            background: linear-gradient(90deg, rgba(204,204,204,100) 0%, rgba(204,204,204,100) 49.9%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
          }

          .line  {
            background: #ccc;
            height: 2px;
            width: 100%;

            box-sizing: border-box;
            display: inline-block;
            position: absolute;
            top: 40%;
            z-index: 1;
            transition: color 1s ease-in;

          }
          .step
          {
            border: 2px solid #ccc;
            border-radius: 50%;
            height: 40px;
            font-size: 28px;
            font-weight: 700;
            color: #ccc;
            width: 40px;
            line-height: 35px;
            text-align: center;
            box-sizing: border-box;
            display: inline-block;
            z-index: 2;
            background: #fff;
            transition: color 1s ease-in;
          }
          .text
          {
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            color: #ccc;
          }
        }


    } // progressbar


    @mixin line-active()
    {
      background: linear-gradient(90deg, rgba(31,190,201,1) 0%, rgba(31,190,201,1) 49.9%,  rgba(204,204,204,1) 50%, rgba(204,204,204,1) 100%);
    }

    /***************** SELECTION *************/
    section.panel.selection
    {

      .progressbar .select
      {
         .line { @include line-active(); }
         .text, .step { color: #EC2C25; }
         .step { border-color: #1FBEC9; }
      }
      .load.wrapper, .interface.wrapper
      {
         opacity: 0;
         transition: all 1s ease-in;

      }
      &[data-status="loading"]
      {
         .load.wrapper {
           opacity: 1;
         }
      }
      &[data-status="loaded"]
      {
        .interface.wrapper
        {
           opacity: 1;
        }
      }
      .load.wrapper
      {
         .loading
         {
            display: flex;
            color: #ccc;
            font-weight: 700;
            align-items: center;
            width: 90%;
            margin: auto;
            span:first-child {
              margin-right: 20px;
            }
            img {
              animation: cssload-spin 5000ms infinite linear;
                      -o-animation: cssload-spin 5000ms infinite linear;
                      -ms-animation: cssload-spin 5000ms infinite linear;
                      -webkit-animation: cssload-spin 5000ms infinite linear;
                      -moz-animation: cssload-spin 5000ms infinite linear;
            }
            @keyframes loading-spin {
              100%{ transform: rotate(360deg); transform: rotate(360deg); }
            }

            @-o-keyframes loading-spin {
              100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
            }

            @-ms-keyframes loading-spin {
              100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
            }

            @-webkit-keyframes loading-spin {
              100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
            }

            @-moz-keyframes loading-spin {
              100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
            }
         }
      }

			.option-block
			{
				 margin: 0 auto 35px;
				 width: 80%;
				 h2 {
					 	font-size: 22px;
						color: #555;
				 }
				 p { margin-left: 0; }

				 &.selection-settings
				 {
				 			.option, label { font-size: 13px; }
				 }
			}

      .optiongroup
      {
         //margin-left: 15px;
         .switch_button {
            display: inline-block;
         }
         h4 {
            font-size: 14px;
            font-weight: 700;
            display: inline-block;
            margin-left: 25px;
         }
         .option {
           margin-left: 85px;
           font-size: 16px;
           line-height: 26px;
           label {
               width: 200px;
               display: inline-block;
           }
           .number {
               font-weight: 700;
           }
        }

      }

    } // panel

  /**************** SUMMARY ******/
    section.panel.summary
    {

      .progressbar .select
      {
         .line { background: #1FBEC9; }
         .text, .step { color: #ccc }
         .step { border-color: #1FBEC9; }
      }
      .progressbar .summary
      {
         .line { @include line-active(); }
         .text, .step { color: #EC2C25; }
         .step { border-color: #1FBEC9; }
      }
      .summary-list
      {
          background-color: #F6F9FF;
          width: 80%;
          margin: 0 auto;
          h3 {
            font-size: 18px;
            font-weight: 400;
            padding: 26px 0;
            color: #555D66;
            padding-left: 35px;
            border-bottom: 1px solid #DFEAFF;
            span {
              float: right;
              margin-right: 35px;
              margin-top: -15px;
            }
          }
          .section-wrapper
          {
             h4 {
                 font-size: 14px;
                 font-weight: 700;
                 padding-left: 80px;
                 .dashicons
                 {
                    color: #1FBEC9;
                    margin-right: 10px;

                 }
              }
              .list-table
              {
                 display: table;
                 //border: 1px solid #DFEAFF;
                 width: 90%;
                 margin: 0 auto;

                 > div {
                   display: table-row;
                   background-color: #F0F5FF;
                   font-size:16px;
                   &.filetypes
                   {
                      background: #F5F9FF;
                      color: #aaa;
                      font-size: 12px;
                      > span
                      {
                         border: 0;
                      }
                   }
                 }
                 > div > span
                 {
                    display: table-cell;
                    border: 1px solid #DFEAFF;
                    width: 50%;
                    text-align: center;
                    padding: 15px 0;


                 }
              }
          }
      }
      .totals
      {
        text-align: center;
        font-size: 25px;
        padding: 35px 0;
        background: #F6F9FF;

        .number { margin-left: 35px; }
      }

      .credits {
          display: table;
          margin: 35px 0 35px 25px;
          width: 50%;
					margin-left: 10%;
          > p { display: table-row }
          > p > span {
             display: table-cell;
             padding: 10px 0;
             font-size: 14px;
             &:first-child { font-weight: 700; }
          }

          .heading span {
            font-size: 18px;
            font-weight: 700;
          }

      }
      .over-quota, .no-images,
      {
         border: 1px solid #ff0000;
         padding: 8px;
         width: 80%;
         margin: 30px auto;
         display: flex;
         align-items: center;
         > span {
           margin-right: 20px;
         }
         p {
           max-width: 550px;
           font-size: 14px;
           line-height: 21px;
           .red { color: #ff0000; }
         }
         button {
           background: #F5F5F5;
           color: #1FBEC9;
           border: 1px solid #1FBEC9;
           border-radius: 3px;
           box-shadow: 0px 1px 1px rgba(171, 170, 170, 0.3);
           margin: 16px 0;
         }
      }
      .no-images
      {
          font-size: 14px;
          padding: 16px;
          font-weight: 500;
      }

    } // panel

    section.panel.process, section.panel.finished
    {
      .progressbar .select, .progressbar .summary
      {
         .line { background: #1FBEC9; }
         .text, .step { color: #ccc }
         .step { border-color: #1FBEC9; }
      }
      .progressbar .process
      {
         .line { @include line-active(); }
         .text, .step { color: #EC2C25; }
         .step { border-color: #1FBEC9; }
      }

      .average-optimization
      {
        position: absolute;
        top: 0;
        right: 35px;
        display: flex;
        justify-content: center;
        margin-top: -10px;
        p {
          margin-top: 25px;
          margin-right: 15px;
          font-size: 14px;
        }
        .opt-circle-average {
            width: 90px;
            height: 90px;
            float: right;
            margin-right: 35px;
            .trail {
              stroke: #ddd;
            }
            .path {
              stroke: #1FBEC9;
              stroke-linecap: round;
              transition: stroke-dashoffset 0.5s ease 0s;
            }
            .text {

              fill: #1FBEC9;
              font-size: 28px;
              font-weight: 700;
              dominant-baseline: middle;
              text-anchor: middle;
            }
        }
      }

      .bulk-summary
      {
        display: table;
        width: 80%;
        margin: 30px auto;
        > div { display: table-row; }
        > div > span {
            display: table-cell;
            padding: 16px;
        }
        .heading {
           background: #F6F9FF;
           border: 1px solid #EBF5FF;
        }
        .progressbar
        {
          width: 100px;
          height: 20px;
          position: relative;
          background: #ccc;
          display: inline-block;
          .done-text
          {
            position: absolute;
            color: #fff;
            font-size: 10px;
            font-weight: 500;
            top: 0;
            bottom: 0;
            padding: 5px 4px;
            line-height: 10px;
            z-index: 3;

          }
          .done {
            position: absolute;
            z-index: 2;
            left: 0;
            width: 10%;
            top: 0;
            bottom: 0;
            background: #1FBEC9;

          }
					label {
						input[type="checkbox"]
						{
							 margin-right: 8px;
						}

					}

        }
      }

      .image-preview {
         background: #F6F9FF;
         border: 1px solid #DFEAFF;
         width: 80%;
         margin: 15px auto;
        .image-preview-line
        {
           display: flex;
           width: 60%;
           justify-content: space-between;
           align-items: center;
           margin: 15px auto;
        //   max-width: 300px;


           .opt-circle-image {
               width: 40px;
               height: 40px;
               float: right;
               margin-right: 35px;
               .trail {
                 stroke: #ddd;
               }
               .path {
                 stroke: #1FBEC9;
                 stroke-linecap: round;
                 transition: stroke-dashoffset 0.5s ease 0s;
               }
               .text {

                 fill: #1FBEC9;
                 font-size: 28px;
                 font-weight: 700;
                 dominant-baseline: middle;
                 text-anchor: middle;
               }
           }

         }
         .preview-wrapper
         {
           display: flex;
        //   width: 60%;
           justify-content: center;
           margin: 25px 0 40px 0;
           .image-source, .image-result
           {
              width: 350px;
              height: 350px;
            //  border: 1px solid #DFEAFF;
              overflow: hidden;
              position: relative;

              img {
                max-width: 100%;
                max-height: 100%;
                width: 100%;
              //  transition: opacity 1s eas
                &[src=""]
                {
                   height: 350px;
                   width: 350px;
                }
              }
              p {
                position: absolute;
                top: 0;
                z-index: 2;
                color: #fff;
                background: rgba(0,0,0,0.5);
                padding: 4px;
              }
           }
           .image-source
           {
              margin-right: 8px;
           }
           .image-result
           {
             margin-left: 8px;
           }
         }
      }

      nav {
          width: 80%;
          margin: 35px auto;



      }

    } // section process

    section.panel.finished
    {
      .progressbar .select, .progressbar .summary, .progressbar .process
      {
         .line { background: #1FBEC9; }
         .text, .step { color: #ccc }
         .step { border-color: #1FBEC9; }
      }
      .progressbar .result
      {
         .line { @include line-active(); }
         .text, .step { color: #EC2C25; }
         .step { border-color: #1FBEC9; }
      }

      nav {
          text-align: center;

        button.finish
        {
            padding: 12px 60px;
            border-radius: 3px;
            background: #1FBEC9;
            font-size: 16px;
            color: #fff;
            transition: all 0.5s ease;
            &:hover {
              background: lighten(#1FBEC9, 5%);

            }
        }
      }
    }

    .part-debug
    {
       background: #000;
       color: #fff;
       width: 100%;
       min-height: 150px;
       max-height: 550px;

    }

    .switch_button
    {
    	margin-left: -5px;

    	label{
    		padding: 8px 5px; // this padding to make clicking more flexible ( bigger hitbox )

    		&:focus {
    			outline: none;
    		}
    	}
    	input { display: none;
    		&:checked ~ .the_switch { background: #6fbeb5; }
    		&:checked ~ .the_switch:after {
    		  left: 26px;
    		  background: #179588;
    		}
    		&:disabled ~ .the_switch{
    		  background: #d5d5d5;
    		  pointer-events: none;
    		}
    		&:disabled ~ .the_switch:after { background: #bcbdbc; }
    	}
    	.the_switch{
    	  position: relative;
    	  display: inline-block;
    	  height: 15px;
    	  width: 50px;
    	  background: #898989;
    	  border-radius: 100px;
    	  cursor: pointer;
    	  transition: all 0.3s ease;
    	  &:after {
    		  position: absolute;
    		  left: -2px;
    		  top: -3px;
    		  display: block;
    		  width: 24px;
    		  height: 24px;
    		  border-radius: 100px;
    		  background: #aaa;
    		  box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
    		  content: '';
    		  transition: all 0.2s ease;
    		}
    		&:active:after { transform: scale(0.9, 0.85); }
    		&:focus {
    			outline: none;
    		}
    	}

    }

		//******* SPECIAL BULK SCREENS **/
		.bulk-special-wrapper
		{
			 margin: 0 auto;
	//		 border: 1px solid #ccc;
			 max-width: 80%;
			 h4 { color: #ff0000;
						font-weight: 700;
						font-size: 20px;

						&.warning
						{
							 float: left;
							 margin: 25px;
						}

			 	}
				.warning { color: #ff0000;  }



		}

} // wrapper.
