@mixin loadspinner()
{
		animation: cssload-spin 5000ms infinite linear;
						-o-animation: cssload-spin 5000ms infinite linear;
						-ms-animation: cssload-spin 5000ms infinite linear;
						-webkit-animation: cssload-spin 5000ms infinite linear;
						-moz-animation: cssload-spin 5000ms infinite linear;

	@keyframes loading-spin {
		100%{ transform: rotate(360deg); transform: rotate(360deg); }
	}

	@-o-keyframes loading-spin {
		100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
	}

	@-ms-keyframes loading-spin {
		100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
	}

	@-webkit-keyframes loading-spin {
		100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
	}

	@-moz-keyframes loading-spin {
		100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
	}
}


@mixin loadDots()
{
	@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}
}
