// A settings setting (tm)

setting{

  padding: 12px 0 12px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  // main title of setting
  name {
    width: 220px;
    min-width: 220px;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    padding: 20px 10px 20px 0;
    box-sizing: border-box;
  }

  content {
     padding: 15px 10px;
     flex-basis: calc(100% - 250px);
     font-size: 14px;
  }
  // additional information
  info {
     display: block;
     padding-top: 0px;
     color: #818181;
     font-size: 13px;
     margin: 6px 0;
  }

  warning, error {
      border-left: 4px solid #ffb900;
      box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
      padding: 8px;
//      margin-left: 230px;
      margin: 4px 0 12px 230px;
      flex-basis: 100%;
      display: none;

      h4 {
        margin: 0;
        font-size: 16px;
      }

      p {
         color: #333;
         font-size: 13px;
      }
      &.is-visible {
          display: inline-block;
      }
  }
	error {
		 border-left-color: #ff0000;
	}

} // setting


settinggrid
{
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
    > setting {
      display: flex;
      flex-basis: calc(50% - 40px);
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 2%;

    }
}
