
.short-pixel-bulk-page.bulk-restore-all{

  ol  {
    li {
      font-weight: 700;
    }
  }
  .random_answer
  {
    font-size:16px;
    font-weight: 700;
    padding: 8px;
    border: 1px solid #ccc;
    display: inline-block;

  }

  .inputs
  {
    margin: 15px 0;
    span { margin-right: 8px; }
  }

  .button
  {
    margin: 10px 0;
    margin-right: 8px;
  }
}
