#tab-nokey
{

 h1 {
	  font-size: 36px;
		text-align: center;
		margin: 20px 0;
 }
  .onboarding-logo
  {
		 text-align: center;
      img {
        width: 400px;
      }


  }

	.onboarding-join-wrapper
	{
		 display: flex;
//		 flex: 1;
		 justify-content: space-between;

		 settinglist {
			 //flex: 0 0 50%;
       background-color: #fff; //#F4FBFC;
       width: 50%;
       padding: 12px;
       margin-top: 30px;
       border: 0;
       setting {
         background-color: #fff ;
       }
       &:first-child {
        //  border-right: 8px solid #fff;
        margin-right: 8px;
       }
       &.now-active
       {
         background-color: #F4FBFC;
      //   transition: all ease-out 0.5s;
         border: 1px solid #000;

         setting {
           background-color: #F4FBFC ;

         }
       }
       &.new-customer
       {
           #tos {
              &.invalid
              {
                 border: 2px solid #ff0000;
              }
           }
           .shortpixel-settings-error
           {
              color: #ff0000;
           }
       }
     }

	}

  .submit-errors
  {

        button.notice-dismiss {
          display: none;
        }

  }
  .onboard-submit
  {
     margin: 25px 0;
     text-align: center;
     button {
        width: 250px;
     }

     setting {
        background: #fff;
        error
        {
           width: 100%;
        }
     }

  }

} // tab-nokey


// Quicktour highlight syste
&.page-quick-tour  // quick tour active on root element
{

}
&.step-1-active { // highlight each step
   .step-1-highlight {
      border: 3px solid $blue_closed;
   }
}

.quick-tour
{
   position: absolute;
   z-index: 9;
   width: 60%;
   display: flex;
   left: 30%;
   top: 50px;
   filter: unset;

   .ufo  {
        img {
          width: 110px;
        }
   }
   .content-wrapper
   {
      border: 2px solid $blue_default;
      width: 500px;
    //  height: 140px;
      background: #fff;
      margin-left: 8px;

      // default state.
      .step
      {
         h4 {
            font-size: 14px;
         }
         display: none;
         &.active
         {
            display: inline-block;
         }
      }

   } // content wrapper
   .navigation
   {
       button.hide { display: none; }
   }
   .close {
      cursor: pointer;
      float: right;
   }
}
