
#tab-tools
{
	.button { min-height: 44px;
		color: $blue_default;
		background-color: darken($color-brokenwhite, 5%);
		//background: linear-gradient(to left, $color-darkest, $color-dark);
		border-radius: 6px;
		font-weight: 700;
		//	 font-size: 16px;
		letter-spacing: 0.3px;
		border: none;
		transition: all 0.1s ease-in-out;

		&:hover {
			background: lighten($blue_default, 10%);
			color: #fff;
		}}
	.option, setting {
			clear: both;
			//display: flex;
			margin: 15px 0;
			div.name {
					width: 220px;
					font-weight: 700;
					display: inline-block;
					flex : 0 0 auto;
					font-size: 14px;
			}
			div.field, content {
				 display: inline-block;
				 vertical-align: middle;
	//			 margin-left: 220px;
			//	 flex: 0 0 auto;
					.button {
							min-width: 200px;
							font-weight: 700;
							text-align: center;
							padding: 6px 8px;
							transition: all 0.1s ease-in-out;
							&.danger
							{
								 color: #fff;
								 background: darken(#ff0000, 10%);
								// background: #ff0000;
								border:none;
								border-radius: 6px;
								&:hover {
									background: #ff0000;
									//box-shadow: 0 0 7px #ff0000, 0 0 12px #ff8000

								}
							}

					}

					&.queue-warning
					{
						border: 1px solid #ff0000;
						font-weight: 700;
						padding: 6px 8px;
					}

			}
			//p.description { margin: 8px 0; }
	}


				.option-row
				{
					margin: 15px 0;
					display: block;
				}

	.danger-zone
	{
		h3 {
			margin-left: 15px;
			text-transform: uppercase;
			font-weight: 700;
		}
		> p { margin-left: 15px; }
	//	 padding: 8px;
	//	 border: 1px solid #ff0000;
	}


} // Tab tools.
