/* Specific styles for advanced settings tab */

#shortpixel-settings-tabs  #tab-adv-settings
{

	.excludeSizeOption {
		 margin-right: 20px;
		 white-space:nowrap;
		 line-height: 24px;
		 float: left;
		 clear: both;
		 input { margin-right: 8px; }
	}

	.deliverWebpTypes, .deliverWebpAlteringTypes {
    margin: 16px 0 16px 16px;
	}

	.new-exclusion-button {
		 float: left;
		 margin-right: 8px;
	}

	ul.exclude-list {
			 li {
				 	float: left;
					padding: 4px 12px;
					border: 1px solid #1caecb;
					background: #1caecb;
					border-radius: 8px;
					margin: 8px 8px 0 0;
					color: #fff;
					cursor: pointer;
					&.no-exclusion-item
					{
						 cursor: default;
					}
					span {
						margin-left: 6px;

					}
					&.has-error {
						background: #ff0000;
						border-color: #ff0000;
					}
					&.is-regex {
						border-right: green;
						border-right-width: 10px;
						border-style: solid;
					}
			 }
			 margin: 20px 0;
			 .not-visible {
				  display: none;
			 }
	}

	.new-exclusion
	{
	//		border-top: 1px solid #ccc;
			border: 1px solid #ccc;
			box-shadow: 2px 2px 1px #ccc;
			padding: 8px;
			margin: 8px 0;
			display: inline-block;
			background: #fff;
			position: relative;

			h3 {
					margin: 2px 0;
			}
			&.not-visible
			{
				 display: none;

			}

			 div
			{
				 margin: 8px 0;
				 height: auto;
				 label
				 {
					 	min-width: 110px;
						display: inline-block;
				 }
				 input, select {
					 	min-width: 250px;
						&.small {
							width: 80px;
							min-width: 0;
						}
				 }
				 &.button-actions
				 {
					  margin-left: 114px;
				 }
				 button {
					// margin-left: 104px;
					 min-width: 75px;
					 padding: 8px 6px;
					 &[name="removeExclusion"]
					 {
						  background: #ff0000;
							border-color: #ff0000;
							padding: 4px;
							position: absolute;
							top: 10px;
							right: 10px;
					 }
				 }

			}

			.not-visible
			{
				 visibility: hidden;
				 height: 0;
				 transition: 500ms height;
			}

			.size-option
			{
				 > div {
					  margin: 8px 0;
				 }
				 div label
				 {
					  min-width: 110px;
				 }
			}
			.thumbnail-option:not(.not-visible) {
				 height: 150px;
				 margin-left: 12px;
				 &:hover {
					  color: #000;
				 }
			}

	}

	.exclusion-save-reminder
	{
		 margin: 10px 0;
		 font-weight: 500;
	}

	.avifNoticeDisabled
	{
		 padding: 12px 12px;
		 line-height: 26px;
		 > .spio-inline-help {
			  display: inline;
				float: none;
		 }
	}


}
