
#tab-tools
{

	.option
	{
		 width: 80%;
		 max-width: 500px;

		 padding: 8px;
		 margin: 25px 0;
		 .button
		 {
			  margin: 10px 8px;
			//	padding: 12px;
		 }
	}

	.danger-zone
	{
		 border: 1px solid #ff0000;
	}


} // Tab tools.
