	&.simple
	{
		 .is-advanced
		 {
			  display: none;
		 }
		 #viewmode-toggle .advanced { display: none; }
	}

	&.advanced
	{
		 #viewmode-toggle .simple { display: none; }
	}

	// The Header
	header
	{

		  background: #fff;
			text-align: center;
			display: flex;
			padding: 8px 16px;
			justify-content: space-between;
			align-items: center;

			h1 {
				line-height: 50px;
			}
			img {
				vertical-align: bottom;
				margin-right: 8px;
			}


	}
	// Items for whole page, including header.
	button {
			color: #fff;
			background: $blue_default;
			padding: 8px 6px;
			border: 0;
			margin: 4px; // see if this works.
			font-family: 'Roboto';
			font-weight: 700;
			border-radius: 6px;
			i.switch {
				 width: 18px;
				 height: 12px;
			}
			i.notifications
			{
				 width: 14px;
				 height: 14px;
				 filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(251deg) brightness(108%) contrast(108%);;
			}


			// @todo probably something for icon left /right here.
	}



.shortpixel-settings // main article wrapper. Items for settings minus header.
{
	  width: 95%;
		display: flex;
		background: #fff;
		border-radius: 16px;
		margin: 0 auto;


		menu { // left-hand menu.
			 width: 25%;
			 max-width: 200px;

			 ul {
				  list-style: none;
					li {
					//	border: 1px solid #ccc;
						margin: 4px 0;
						text-align: left;

							a {
								padding: 6px 4px;

								font-size: 14px;
								font-weight: 700;
								color: $blue_closed;
								text-decoration: none;
								display: inline-block;
								width: 100%;
								box-sizing: border-box;

								i {
									margin-right: 8px;
									width: 16px;
									height: 16px;
									filter: none;
								}
								&.active {
									// background: #0f6a7d;
							 	  color: $black_default;
									i {
										filter: $filter_black;
									}
								}
							}

					}

			 }
		}
		section.wrapper // wrapper of the settings tab.
		{
			 width: calc(100% - 30% - 5%);
//			 margin-left: 5%;
//			 margin-top: 25px;
			 margin: 25px 0 25px 5%;

			 .setting-tab
			 {
					color: #333;
					z-index: 2;
					display: none;
					&.active {
							position: relative;
							display: block;
			 		}

					settinglist
					{
						h2 { // title
							 font-size: 24px;
							 font-family: 'Roboto';
							 font-weight: 700;
							 outline: 0;
							 text-decoration: none;
							 color: #0f6a7d;
						}
						h3 {
							  font-size: 18px;
								font-family: 'Roboto';
								font-weight: 700;
						}
					} // settinglist
				}
		} // section.wrapper
		settinglist
		{
			 display: block;

		}

		flexbox {
			 display: flex;

			 &.width_half {
				 > *
				 {
					 width: 50%;
				 }
			 }

			 &.column
			 {
				  flex-direction: column;
			 }
		}
		gridbox
		{
			 display: grid;
			 &.width_half
			 {
				 grid-template-columns: repeat(2, 50%);
				 setting:nth-child(1n) {
					 margin-right: 15px;
				 }

			 }
			 &.width_70
			 {
				  grid-template-columns:  70% 30%;
			 }

		}
} // shortpixel-settings
