/* Specific styles for advanced settings tab */

#shortpixel-settings-tabs  #tab-adv-settings
{

	.excludeSizeOption {
		 margin-right: 20px;
		 white-space:nowrap;
		 line-height: 24px;
		 float: left;
		 clear: both;
		 input { margin-right: 8px; }
	}

	.deliverWebpTypes, .deliverWebpAlteringTypes {
    margin: 16px 0 16px 16px;
}

.avifNoticeDisabled
{
	 padding: 12px 12px;
	 line-height: 26px;
	 > .spio-inline-help {
		  display: inline;
			float: none;
	 }
}



}
