#tab-nokey
{

 h1 {
	  font-size: 36px;
		text-align: center;
		margin: 20px 0;
 }
  .onboarding-logo
  {
		 text-align: center;
      img {
        width: 400px;
      }


  }

	.onboarding-join-wrapper
	{
		 display: flex;
//		 flex: 1;
		 justify-content: space-between;

		 settinglist {
			 //flex: 0 0 50%;
       background-color: #fff; //#F4FBFC;
       width: 50%;
       padding: 12px;
       margin-top: 30px;
       border: 0;
       setting {
         background-color: #fff ;
       }
       &:first-child {
        //  border-right: 8px solid #fff;
        margin-right: 8px;
       }
       &.now-active
       {
         background-color: #F4FBFC;
      //   transition: all ease-out 0.5s;
         border: 1px solid #000;

         setting {
           background-color: #F4FBFC ;

         }
       }
       &.new-customer
       {
           #tos {
              &.invalid
              {
                 border: 2px solid #ff0000;
              }
           }
           .shortpixel-settings-error
           {
              color: #ff0000;
           }
       }
     }

	}

  .submit-errors
  {

        button.notice-dismiss {
          display: none;
        }
     
  }
  .onboard-submit
  {
     margin: 25px 0;
     text-align: center;
     button {
        width: 250px;
     }

     setting {
        background: #fff;
        error
        {
           width: 100%;
        }
     }

  }

} // tab-nokey
